/*Selector {
    Property: value;
}
*/

h2 {
    color: red;
    text-align: center;
    border: 5px dashed peru;
    cursor: pointer;
}

p:hover{
    color: green;
    text-decoration: underline;
    line-height: 55px;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
}

img {
    float: left;
}

footer {
    clear: both;
    text-align: center;
}