/*Selector {
    Property: value;
}
*/
body {
    background-image: url(Assets/space.jpg);
    background-size: cover;
}

h2 {
    color: red;
    text-align: center;
    border: 5px dashed peru;
    cursor: pointer;
}

p:hover {
    color: green;
}

li {
    color: white;
    list-style: none;
    display: inline-block;
}